<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal de Requisição</title>
</head>
<body>
    <main>
        <h2>Olá, faça seu login</h2>
        <form action="/login" method="POST">
            <label for="email">Insira seu email:</label>
            <input type="email" name="email">
            <label for="password">Insira sua senha:</label>
            <input type="password" name="password">
            <input type="submit" name="enviar" value="Logar">
        </form>
    </main>
</body>
</html>